{% extends '_shaired/_MainLayout.html' %}
{% load static %}
{% block content %}
    {% if sliders %}
        <!--Revolution Slider-->
        <div class="clv_rev_slider">
            <div id="rev_slider_149_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="snowaddon1"
                 data-source="gallery" style="background-color:#2d3032;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_149_1" class="rev_slider fullscreenbanner" style="display:none;"
                     data-version="5.4.1">
                    <ul>
                        {% for slider in sliders %}

                            <!-- SLIDE  -->
                            <li data-index="rs-{{ forloop.counter }}" data-transition="fade" data-slotamount="default"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                                data-masterspeed="2000" data-thumb="../../assets/images/blur1-100x50.jpg"
                                data-rotate="0"
                                data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7"
                                data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3=""
                                data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                                data-param9=""
                                data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{ slider.image.url }}" alt="image" data-bgposition="center center"
                                     data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone"
                                     data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
                                     data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="6" class="rev-slidebg"
                                     data-no-retina style="background-color: rgba(0,0,0,0.8)">
                                <!-- LAYERS -->
                                <div id="rrzm_{{ forloop.counter }}" class="rev_row_zone rev_row_zone_middle"
                                     style="z-index: 6;">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption  " id="slide-{{ forloop.counter }}-layer-14"
                                         data-x="['right','right','right','right']"
                                         data-hoffset="['100','100','100','100']"
                                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="row"
                                         data-columnbreak="2" data-basealign="slide" data-responsive_offset="on"
                                         data-responsive="off"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                         data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,50,50]"
                                         data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,50,50]"
                                         style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption  " id="slide-{{ forloop.counter }}-layer-15"
                                             data-x="['right','right','right','right']"
                                             data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                             data-voffset="['100','100','100','100']" data-width="none"
                                             data-height="none"
                                             data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                             data-responsive="off"
                                             data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                             data-columnwidth="100%" data-margintop="[0,0,0,0]"
                                             data-marginright="[0,0,0,0]"
                                             data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                                            <!-- LAYER NR. 3 -->
                                            <div class="tp-caption   tp-resizeme"
                                                 id="slide-{{ forloop.counter }}-layer-1"
                                                 data-x="['right','right','right','right']"
                                                 data-hoffset="['0','0','0','0']"
                                                 data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
                                                 data-fontsize="['20','20','20','20']"
                                                 data-lineheight="['22','22','22','22']"
                                                 data-width="['none','none','697','399']" data-height="none"
                                                 data-whitespace="['nowrap','nowrap','normal','normal']"
                                                 data-type="text"
                                                 data-basealign="slide" data-responsive_offset="on"
                                                 data-frames='[{"delay":"+290","split":" ","splitdelay":0.05,"speed":550,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                                 data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                                 data-textAlign="['inherit','center','center','center']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]"
                                                 style="z-index: 8; white-space: nowrap; font-size: 20px; font-weight: 700; color: #fec007; display: inline-block;font-family: 'vazir', 'Source Sans Pro', sans-serif;">

                                            </div>

                                            <!-- LAYER NR. 4 -->
                                            <div class="tp-caption   tp-resizeme"
                                                 id="slide-{{ forloop.counter }}-layer-2"
                                                 data-x="['right','right','right','right']"
                                                 data-hoffset="['0','50','0','0']"
                                                 data-y="['top','top','top','top']"
                                                 data-voffset="['0','430','460','290']"
                                                 data-fontsize="['82','82','40','40']"
                                                 data-lineheight="['82','82','50','30']"
                                                 data-width="['none','100%','100%','100%']" data-height="none"
                                                 data-whitespace="normal" data-type="text" data-basealign="slide"
                                                 data-responsive_offset="on"
                                                 data-frames='[{"delay":"+290","split":" ","splitdelay":0.05,"speed":1000,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                                 data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                                 data-textAlign="['inherit','inherit','center','center']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 9; white-space: normal; font-size: 82px; line-height: 82px; font-weight: 700; color: rgba(255, 255, 255, 1); display: block;font-family: 'vazir', 'Source Sans Pro', sans-serif;">
                                                {{ slider.title }}
                                            </div>
                                            <!-- LAYER NR. 5 -->
                                            <div class="tp-caption   tp-resizeme"
                                                 id="slide-{{ forloop.counter }}-layer-3"
                                                 data-x="['right','right','right','right']"
                                                 data-hoffset="['100','50','0','0']" data-y="['top','top','top','top']"
                                                 data-voffset="['0','430','460','290']"
                                                 data-fontsize="['82','82','40','40']"
                                                 data-lineheight="['82','82','50','30']"
                                                 data-width="['none','100%','100%','100%']" data-height="none"
                                                 data-whitespace="normal" data-type="text" data-basealign="slide"
                                                 data-responsive_offset="on"
                                                 data-frames='[{"delay":"+290","split":" ","splitdelay":0.05,"speed":1000,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                                 data-margintop="[8,8,8,8]" data-marginright="[0,0,0,0]"
                                                 data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                                 data-textAlign="['inherit','inherit','center','center']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 9; white-space: normal; font-size: 82px; line-height: 81px; font-weight: 300; color: rgba(255, 255, 255, 1); display: block;font-family: 'vazir', 'Source Sans Pro', sans-serif;">
                                            </div>


                                            <a href="{% url 'blog_detail' pk=slider.id %}" target="_blank"
                                               class="tp-caption rev-btn clv_btn"
                                               id="slide-{{ forloop.counter }}-layer-4"
                                               data-x="['center','center','center','center']"
                                               data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','top','top']"
                                               data-voffset="['30','30','30','30']" data-width="170px"
                                               data-height="none"
                                               data-whitespace="nowrap" data-type="button" data-actions=''
                                               data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                               data-startslide="0" data-endslide="2"
                                               data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"y:20px;sX:1.5;sY:1.5;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
                                               data-textAlign="['center','center','center','center']"
                                               data-margintop="[18,18,0,0]" data-paddingtop="[0,0,0,0]"
                                               data-paddingright="[35,35,35,35]" data-paddingbottom="[0,0,0,0]"
                                               data-paddingleft="[35,35,35,35]"
                                               style="z-index: 8; white-space: nowrap; font-size: 16px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family: 'vazir', 'Source Sans Pro', sans-serif;border-radius:30px 30px 30px 30px;display:inline-block;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">بیشتر
                                                بدانید</a>

                                        </div>
                                    </div>
                                </div>

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-407-layer-16"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full" data-height="full" data-whitespace="normal" data-type="shape"
                                     data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                     data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;background-color:rgba(37, 37, 37, 0.7);">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div><!-- END REVOLUTION SLIDER -->
            <div class="scroll_down">
                <span></span>
                <p>اسکرول کنید</p>
            </div>
        </div>
        <!--Revolution Slider-->
    {% endif %}
    <!--About Section-->
    {% if selected_blog.0 %}
        <div class="clv_about_wrapper clv_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_img">
                            <img src="{{ selected_blog.0.image.url }}" alt="image"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_content">
                            <div class="about_heading">
                                <h2>{{ selected_blog.0.title }}</h2>
                                <div class="clv_underline"><img src="{% static 'images/underline.png' %}" alt="image"/>
                                </div>
                            </div>
                            <div class="para_content">
                                <p> {{ selected_blog.0.body|safe|slice:500 }}</p>
                            </div>
                            <div class="video_block">
                                {% if selected_blog.0.video %}
                                    <div class="video_btn">
                                        <a href="{{ selected_blog.0.video.url }} " class="play_video"><span
                                                class="pulse"><i class="fa fa-play" aria-hidden="true"></i></span>
                                            مشاهده
                                            ویدئو</a>
                                    </div>
                                {% endif %}
                                <a href="{% url 'blog_detail' pk=selected_blog.0.id %}" class="clv_btn">بیشتر
                                    بخوانید</a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--About Section-->
    <!--Counter Section-->
    <div class="clv_counter_wrapper clv_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="clv_heading white_heading">
                        <h3>ما در این زمینه متخصص هستیم</h3>
                        <div class="clv_underline"><img src="{% static 'images/underline2.png' %}" alt="image"/></div>
                        <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ
                            به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                    </div>
                </div>
            </div>
            <div class="counter_section">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="counter_block">
                            <div class="counter_img">
									<span class="red_bg"><img src="{% static 'images/counter_customer.png' %}"
                                                              alt="image"
                                                              class="img-fluid"/></span>
                            </div>
                            <div class="counter_text">
                                <h4><span class="count_no" data-to="26" data-speed="3000">26</span><span>k+</span>
                                </h4>
                                <h5>مشتریان راضی</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="counter_block">
                            <div class="counter_img">
									<span class="yellow_bg"><img src="{% static 'images/counter_project.png' %}"
                                                                 alt="image"
                                                                 class="img-fluid"/></span>
                            </div>
                            <div class="counter_text">
                                <h4><span class="count_no" data-to="700" data-speed="3000">700</span><span>+</span>
                                </h4>
                                <h5>پروژه های تکمیل شده</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="counter_block">
                            <div class="counter_img">
									<span class="orange_bg"><img src="{% static 'images/counter_branch.png' %}"
                                                                 alt="image"
                                                                 class="img-fluid"/></span>
                            </div>
                            <div class="counter_text">
                                <h4><span class="count_no" data-to="200" data-speed="3000">200</span><span>+</span>
                                </h4>
                                <h5>شعبه های بین المللی</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="counter_block">
                            <div class="counter_img">
									<span class="blue_bg"><img src="{% static 'images/counter_winner.png' %}"
                                                               alt="image"
                                                               class="img-fluid"/></span>
                            </div>
                            <div class="counter_text">
                                <h4><span class="count_no" data-to="6" data-speed="3000">6</span><span>k+</span>
                                </h4>
                                <h5>جوایز دریافت شده</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Counter Section-->
    <!--About Farm-->
    {% if selected_blog.1 %}
        <div class="about_farm_wrapper clv_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_content">
                            <div class="about_heading">
                                <h2>{{ selected_blog.1.title }}</h2>
                                <div class="clv_underline"><img src="{% static 'images/underline.png' %}" alt="image"/>
                                </div>

                            </div>
                            <div class="para_content">
                                <p>{{ selected_blog.1.body|safe|slice:500 }}</p>
                            </div>
                            <a href="{% url 'blog_detail' pk=selected_blog.1.id %}" class="clv_btn">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <img src="{{ selected_blog.1.image.url }}" alt="image"/>
                            <div class="about_img_details">
                                <h3>پشتیبانی دوستانه و اختصاصی در هر مرحله از راه</h3>
                                <h1>(+61) 1080-1247-1247</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--About Farm-->
    <!--Services-->
    {% if selected_services %}
        <div class="clv_service_wrapper clv_section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="clv_heading">
                            <a href="{% url 'service_list' %}"><h3>مشاهده خدمات پیشنهادی ما</h3></a>
                            <div class="clv_underline"><img src="{% static 'images/underline3.png' %}" alt="image"/>
                            </div>
                            <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ
                                به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                        </div>
                    </div>
                </div>
                <div class="service_main_wrapper">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="row">
                                {% for service in selected_services %}
                                    <div class="col-md-6">
                                        <div class="service_block">
                                            <span></span>
                                            <div class="service_icon"><img src="{{ service.image.url }}" alt="image"/>
                                            </div>
                                            <a href="{% url 'service_detail' sid=service.id %}">
                                                <h4>{{ service.title }}</h4></a>
                                            <div class="clv_underline"><img
                                                    src="{% static 'images/service_underline.png' %}"
                                                    alt="image"/></div>
                                            <p>{{ service.body|safe|slice:200 }} ...</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="service_girl_img">
                                <img src="{% static 'images/service_girl.png' %}" alt="image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--Services-->
    <!--Blog-->
    <div class="clv_blog_wrapper clv_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="clv_heading">
                        <h3>مطالب بلاگ</h3>
                        <div class="clv_underline"><img src="{% static 'images/underline3.png' %}" alt="image"/></div>
                        <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ
                            به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="blog_slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for blog in last_blogs %}
                                    <div class="swiper-slide">
                                        <div class="blog_slide">
                                            <div class="blog_image">
                                                <img src="{{ blog.image.url }}" alt="image"
                                                     class="img-fluid"/>
                                            </div>
                                            <div class="blog_content">
                                                <h6 class="blog_date">{{ blog.created_date }}</h6>
                                                <h4 class="blog_title"><a href="{% url 'blog_detail' pk=blog.id %}">
                                                    {{ blog.title }}
                                                </a></h4>
                                                <div class="blog_user">
                                                    <div class="user_name">
                                                        <img src="{% static 'images/user.png' %}" alt="image"/>
                                                        <a href="javascript:;"><span>{{ blog.user }}</span></a>
                                                    </div>
                                                    <div class="comment_block">
                                                        <span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                                        <a href="javascript:;">{{ blog.comments.get_active_comments.count }}
                                                            نظر</a>
                                                    </div>
                                                </div>
                                                <p>{{ blog.body|safe|slice:150 }} ...</p>
                                                <a href="{% url 'blog_detail' pk=blog.id %}">
                                                    بیشتر بخوانید <span>
                                                    <i class="fa fa-long-arrow-left"
                                                       aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <span class="slider_arrow blog_left left_arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="10px" height="20px">
									<path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                          d="M0.272,10.703 L8.434,19.703 C8.792,20.095 9.372,20.095 9.731,19.703 C10.089,19.308 10.089,18.668 9.731,18.274 L2.217,9.990 L9.730,1.706 C10.089,1.310 10.089,0.672 9.730,0.277 C9.372,-0.118 8.791,-0.118 8.433,0.277 L0.271,9.274 C-0.082,9.666 -0.082,10.315 0.272,10.703 Z"/>
								</svg>
							</span>
                        <span class="slider_arrow blog_right right_arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="10px" height="20px">
									<path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                          d="M9.728,10.703 L1.566,19.703 C1.208,20.095 0.627,20.095 0.268,19.703 C-0.090,19.308 -0.090,18.668 0.268,18.274 L7.783,9.990 L0.269,1.706 C-0.089,1.310 -0.089,0.672 0.269,0.277 C0.627,-0.118 1.209,-0.118 1.567,0.277 L9.729,9.274 C10.081,9.666 10.081,10.315 9.728,10.703 Z"/>
								</svg>
							</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Gallery-->
    {% include 'home/gallery.html' %}


{% endblock %}