{% extends '_shaired/_MainLayout.html' %}
{% load static %}

{% block content %}<!--Breadcrumb-->
    <div class="breadcrumb_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="breadcrumb_inner">
                        <h3>خدمات ما</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_block">
            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li>خدمات</li>
            </ul>
        </div>
    </div>
    <!--Service 2-->
    <div class="garden_service2_wrapper clv_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="clv_heading">
                        <h3>مشاهده خدمات پیشنهادی ما</h3>
                        <div class="clv_underline"><img src="{% static 'images/underline3.png' %}" alt="image"/></div>
                        <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                            پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                    </div>
                </div>
            </div>
            <div class="garden_service2_section">
                {% for groupe in grouped_services %}
                    <div class="row">
                        {% for service in groupe %}
                            <div class="col-md-4">
                                <div class="service2_block">
                                    <a href="{% url 'service_detail' sid=service.id %}">
                                        <div class="service2_image">
                                            <img src="{{ service.image.url }}" alt="image"/>
                                        </div>
                                    </a>
                                    <div class="service2_content">
                                        <a href="{% url 'service_detail' sid=service.id %}">
                                            <h3>{{ service.title }}</h3></a>
                                        <a href="{% url 'service_detail' sid=service.id %}">
                                            <p>{{ service.body|safe|slice:250 }}... </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}