{% extends '_shaired/_MainLayout.html' %}
{% load static %}

{% block content %}
    <!--Blog With Sidebar-->
    <div class="blog_sidebar_wrapper clv_section blog_single_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="blog_left_section">
                        <div class="blog_section">
                            <div class="agri_blog_image">
                                <img src="{{ blog.image.url }}" alt="image">
                                <span class="agri_blog_date">{{ blog.modified_date.date }}</span>
                            </div>
                            <div class="agri_blog_content">
                                <h3>{{ blog.title }}</h3>
                                <div class="blog_user">
                                    <div class="user_name">
                                        <img src="{% static 'images/user.png' %}" alt="image">
                                        <a href="javascript:;"><span>{{ blog.user }}</span></a>
                                    </div>
                                    <div class="comment_block">
                                        <span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                        <a href="javascript:;">{{ blog.comments.get_active_comments.count }} نظر</a>
                                    </div>
                                </div>
                                <p>{{ blog.body|safe }}</p>
                                <br>
                                <hr>
                                <br>

                            </div>

                            <div class="blog_single_heading">
                                <h3>نظرات <span>({{ blog.comments.get_active_comments.count }})</span>
                                </h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="comment_section">
                                <ul>
                                    {% for comment in  blog.comments.get_active_comments %}
                                        {% if comment.parent is None %}
                                            <li>
                                                <div class="comment_box">
                                                    <div class="comment_image">
                                                        <img src="{% static 'images/user.png' %}" alt="image">
                                                    </div>
                                                    <div class="comment_text">
                                                        <div class="comment_header">
                                                            <div class="comment_name">
                                                                {% if comment.first_name or comment.last_name %}
                                                                    <h5>{{ comment.first_name }} {{ comment.last_name }}</h5>
                                                                {% else %}
                                                                    <h5>{{ comment.user }}</h5>
                                                                {% endif %}
                                                                <span>{{ comment.created }}</span>
                                                            </div>
                                                            {% if request.user.is_superuser %}
                                                                <a href="javascript:;">پاسخ</a>
                                                            {% endif %}
                                                        </div>
                                                        <p>{{ comment.body }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            {% for reply in comment.children.get_active_comments %}
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <div class="comment_box">
                                                                <div class="comment_image">
                                                                    <img src="{% static 'images/user.png' %}"
                                                                         alt="image">
                                                                </div>
                                                                <div class="comment_text">
                                                                    <div class="comment_header">
                                                                        <div class="comment_name">
                                                                            {% if reply.first_name or reply.last_name %}
                                                                                <h5>{{ reply.first_name }} {{ reply.last_name }}</h5>
                                                                            {% else %}
                                                                                <h5>{{ reply.user }}</h5>
                                                                            {% endif %}
                                                                            <span>{{ reply.created }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <p>{{ reply.body }} </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <form method="post" action="{% url 'comment' pk=blog.id %}">
                                <div class="blog_single_heading">
                                    <h3>نظر شما درباره این مطلب</h3>
                                    <img src="{% static 'images/footer_underline.png' %}" alt="image">
                                </div>
                                <div class="comment_form">
                                    <div class="row">
                                        {% csrf_token %}
                                        <div {{ user.is_authenticated|yesno:'hidden,""' }}
                                                class="col-md-6 col-lg-6">
                                            <div class="form_block">
                                                {{ comment.first_name }}
                                            </div>
                                        </div>
                                        <div {{ user.is_authenticated|yesno:'hidden,""' }}
                                                class="col-md-6 col-lg-6">
                                            <div class="form_block">
                                                {{ comment.last_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form_block">
                                                {{ comment.title }}
                                            </div>
                                        </div>
                                        <div {{ user.is_authenticated|yesno:'hidden,""' }}
                                                class="col-md-6 col-lg-6">
                                            <div class="form_block">
                                                {{ comment.email }}
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form_block">
                                                {{ comment.body }}
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <div hidden class="form_block">
                                                <select name="blog" required="" id="id_blog" style="display: none;">
                                                    <option value="{{ blog.id }}" selected>{{ blog.title }}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form_block">
                                                <button type="submit" class="clv_btn">ارسال</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="blog_sidebar">
                        {% include '_shaired/side_search.html' %}
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>دسته بندی</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_category">
                                <ul>
                                    {% for cat in categories %}
                                        <li>
                                            <a href="javascript:;">{{ cat.title }}<span>({{ cat.blogs.get_active_blogs.count }})</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>آخرین پست ها</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            {% include '_shaired/sidebar_post.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}