{% extends '_shaired/_MainLayout.html' %}
{% load  static %}
{% load jformat %}
{% block content %}
    <!--Breadcrumb-->
    <div class="breadcrumb_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="breadcrumb_inner">
                        <h3>صفحه اصلی وبلاگ</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_block">
            <ul>
                <li><a href="index.html">صفحه اصلی</a></li>
                <li>صفحه اصلی وبلاگ</li>
            </ul>
        </div>
    </div>
    <!--Blog With Sidebar-->
    <div class="blog_sidebar_wrapper clv_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="blog_left_section">
                        {% for blog in blogs %}
                            <div class="blog_section">
                                <div class="agri_blog_image">
                                    <img src="{{ blog.image.url }}" alt="image">
                                    <span class="agri_blog_date">{{ blog.modified_date.date }}</span>
                                </div>
                                <div class="agri_blog_content">
                                    <h3>
                                        <a href="{% url 'blog_detail' pk=blog.id title=blog.title.split|join:'-' %}">{{ blog.title }}</a>
                                    </h3>
                                    <div class="blog_user">
                                        <div class="user_name">
                                            <img src="{% static 'images/user.png' %}" alt="image">
                                            <a href="javascript:;"><span>{{ blog.user }}</span></a>
                                        </div>
                                        <div class="comment_block">
                                            <span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                            <a href="javascript:;">26 نظر</a>
                                        </div>
                                    </div>
                                    <p>{{ blog.body|slice:300|safe }} ...</p>
                                    <a href="{% url 'blog_detail' pk=blog.id title=blog.title.split|join:'-' %}"">بیشتر
                                    بخوانید <span><i class="fa fa-long-arrow-left"
                                                     aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        {% endfor %}
                        {% if is_paginated %}
                            <div class="blog_pagination_section">
                                <ul>
                                    <li class="blog_page_arrow">
                                        <a href="javascript:;">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="25px">
                                                <path fill-rule="evenodd" fill="rgb(112, 112, 112)"
                                                      d="M13.676,13.222 L6.883,19.685 C6.451,20.097 5.751,20.097 5.319,19.685 C4.887,19.273 4.887,18.608 5.319,18.197 L11.329,12.478 L5.319,6.760 C4.887,6.348 4.887,5.682 5.319,5.270 C5.751,4.861 6.451,4.861 6.884,5.270 L13.676,11.735 C13.892,11.940 14.000,12.209 14.000,12.478 C14.000,12.747 13.892,13.017 13.676,13.222 Z"/>
                                            </svg>
                                            <span>prev</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">01</a></li>
                                    <li><a href="javascript:;">02</a></li>
                                    <li><a href="javascript:;">....</a></li>
                                    <li><a href="javascript:;">12</a></li>
                                    <li><a href="javascript:;">13</a></li>
                                    <li class="blog_page_arrow">
                                        <a href="javascript:;">
                                            <span>next</span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="15px">
                                                <path fill-rule="evenodd" fill="rgb(112, 112, 112)"
                                                      d="M0.324,8.222 L7.117,14.685 C7.549,15.097 8.249,15.097 8.681,14.685 C9.113,14.273 9.113,13.608 8.681,13.197 L2.670,7.478 L8.681,1.760 C9.113,1.348 9.113,0.682 8.681,0.270 C8.249,-0.139 7.548,-0.139 7.116,0.270 L0.323,6.735 C0.107,6.940 -0.000,7.209 -0.000,7.478 C-0.000,7.747 0.108,8.017 0.324,8.222 Z"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="blog_sidebar">
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>جستجو</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_search">
                                <input type="text" placeholder="اینجا جستجو کنید">
                                <a href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>دسته بندی</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_category">
                                <ul>
                                    {% for cat in categories %}
                                        <li><a href="javascript:;">
                                            {{ cat.title }}<span>{{ cat.blogs.get_active_blogs.count }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>آخرین پست ها</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_post">
                                <ul>
                                    <li>
                                        <div class="post_image">
                                            <img src="{% static 'images/sidebar_post1.jpg' %}" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>7 تیر 1398</p>
                                            <a href="blog_single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post_image">
                                            <img src="{% static 'images/sidebar_post2.jpg' %}" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>7 تیر 1398</p>
                                            <a href="blog_single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post_image">
                                            <img src="{% static 'images/sidebar_post3.jpg' %}" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>7 تیر 1398</p>
                                            <a href="blog_single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>آرشیوها</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_category">
                                <ul>
                                    <li><a href="javascript:;">فروردین<span>(12)</span></a></li>
                                    <li><a href="javascript:;">اردیبهشت<span>(16)</span></a></li>
                                    <li><a href="javascript:;">خرداد<span>(156)</span></a></li>
                                    <li><a href="javascript:;">تیر<span>(260)</span></a></li>
                                    <li><a href="javascript:;">مرداد<span>(96)</span></a></li>
                                    <li><a href="javascript:;">شهریور<span>(12)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_test_slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="sidebar_test_slide">
                                                <div class="test_slide_image">
                                                    <img src="{% static 'images/sidebar_test1.jpg' %}" alt="image">
                                                </div>
                                                <div class="test_slide_content">
                                                    <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                                        لازم است و برای شرایط فعلی تکنولوژی</p>
                                                    <h5>علی عمادزاده</h5>
                                                    <img src="{% static 'images/blogside_quote.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="sidebar_test_slide">
                                                <div class="test_slide_image">
                                                    <img src="{% static 'images/sidebar_test2.jpg' %}" alt="image">
                                                </div>
                                                <div class="test_slide_content">
                                                    <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                                        لازم است و برای شرایط فعلی تکنولوژی</p>
                                                    <h5>علی عمادزاده</h5>
                                                    <img src="{% static 'images/blogside_quote.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar_arrow_wrapper">
											<span class="sidebar_test_arrow test_left">
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</span>
                                        <span class="sidebar_test_arrow test_right">
												<i class="fa fa-angle-left" aria-hidden="true"></i>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>برچسب ها</h3>
                                <img src="{% static 'images/footer_underline.png' %}" alt="image">
                            </div>
                            <div class="sidebar_tags">
                                <ul>
                                    <li><a href="javascript:;">کشاورزی</a></li>
                                    <li><a href="javascript:;">مزرعه</a></li>
                                    <li><a href="javascript:;">ارگانیک</a></li>
                                    <li><a href="javascript:;">egg</a></li>
                                    <li><a href="javascript:;">پریمکتوری</a></li>
                                    <li><a href="javascript:;">Green</a></li>
                                    <li><a href="javascript:;">garden</a></li>
                                    <li><a href="javascript:;">شیر</a></li>
                                    <li><a href="javascript:;">dairy farm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}