{% load static %}
<!--Start Style -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/range.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'css/nice-select.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- Favicon Link -->
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">