{% load static %}
<!--Footer-->
<div class="clv_footer_wrapper clv_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_logo"><a href="javascript:;"><img src="{% static 'images/footer_logo.png' %}"
                                                                         alt="image"/></a></div>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است. چاپگرها</p>
                    <h6>همین حالا تماس بگیرید</h6>
                    <h3>+91 1800-124-224</h3>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>خدمات</h4>
                        <img src="{% static 'images/footer_underline.png' %}" alt="image"/>
                    </div>
                    <ul class="useful_links">
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>علف های هرز و کنترل آفات</a>
                        </li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>کاشت چمن</a></li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>برنامه ها و کمک های مالی</a>
                        </li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>طیور و محصولات کشاورزی</a>
                        </li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>آموزش و رویدادها</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>اینستاگرام</h4>
                        <img src="{% static 'images/footer_underline.png' %}" alt="image"/>
                    </div>
                    <ul class="instagram_links">
                        <li><a href="javascript:;"><img src="{% static 'images/insta1.jpg' %}"
                                                        alt="image"/></a></li>
                        <li><a href="javascript:;"><img src="{% static 'images/insta2.jpg' %}"
                                                        alt="image"/></a></li>
                        <li><a href="javascript:;"><img src="{% static 'images/insta3.jpg' %}"
                                                        alt="image"/></a></li>
                        <li><a href="javascript:;"><img src="{% static 'images/insta4.jpg' %}"
                                                        alt="image"/></a></li>
                        <li><a href="javascript:;"><img src="{% static 'images/insta5.jpg' %}"
                                                        alt="image"/></a></li>
                        <li><a href="javascript:;"><img src="{% static 'images/insta6.jpg' %}"
                                                        alt="image"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>پشتیبانی</h4>
                        <img src="{% static 'images/footer_underline.png' %}" alt="image"/>
                    </div>
                    <ul class="useful_links">
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>درباره ما</a></li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>اطلاعات ارسال</a></li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>حریم خصوصی</a></li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>شرایط و قوانین</a></li>
                        <li><a href="javascript:;"><span><i class="fa fa-angle-left"
                                                            aria-hidden="true"></i></span>پشتیبانی 24/7</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img class="foot_girl" src="https://via.placeholder.com/398x529" alt="image">
</div>
<!--Copyright-->
<div class="clv_copyright_wrapper">
    <p>تمامی حقوق محفوظ است. راستچین و فارسی سازی شده توسط <a href="https://www.rtl-theme.com/author/halbia/">HalBia</a>
    </p>
</div>

<!--Popup-->
<div class="search_box">
    <div class="search_block">
        <h3>با ما بیشتر کاوش کنید</h3>
        <div class="search_field">
            <input type="search" placeholder="اینجا جستجو کنید"/>
            <a href="javascript:;">جستجو</a>
        </div>
    </div>
    <span class="search_close">
				<?xml version="1.0" encoding="iso-8859-1"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
             y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;"
             xml:space="preserve" width="30px" height="30px">
					<g>
						<path style="fill:#fec007;" d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
						c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
						C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
						s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
					</g>
				</svg>
			</span>
</div>
<!--Payment Success Popup-->
<div class="success_wrapper">
    <div class="success_inner">
        <div class="success_img"><img src="{% static 'images/success.png' %}" alt=""></div>
        <h3>موفقیت پرداخت</h3>
        <img src="{% static 'images/clv_underline.png' %}" alt="">
        <p>سفارش شما با موفقیت انجام شد! می توانید هرگونه سؤالی دارید مستقیما از صاحب فروشگاه بپرسید. از خرید شما
            متشکریم</p>
        <a href="javascript:;" class="clv_btn">ادامه گشت وگذار</a>
        <span class="success_close">
					<?xml version="1.0" encoding="iso-8859-1"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;"
                 xml:space="preserve" width="11px" height="11px">
						<g>
							<path fill="#fec007" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                        c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                        l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                        c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
						</g>
					</svg>
				</span>
    </div>
</div>
<!--Thank You Popup-->
<div class="thankyou_wrapper">
    <div class="thankyou_inner">
        <div class="thankyou_img"><img src="{% static 'images/thankyou.png' %}" alt=""></div>
        <h3>سفارش شما در حال پردازش است</h3>
        <h5>برای شما یک ایمیل حاوی اطلاعات کاملی درباره رزروتان ارسال کرده ایم.</h5>
        <div class="download_button">
            <a href="javascript:;" class="clv_btn">دانلود PDF</a>
            <a href="index.html" class="clv_btn">برگشت به سایت</a>
        </div>
        <span class="success_close">
					<?xml version="1.0" encoding="iso-8859-1"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;"
                 xml:space="preserve" width="11px" height="11px">
						<g>
							<path fill="#fec007" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                    c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                    l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                    c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
						</g>
					</svg>
				</span>
    </div>
</div>
<!--SignUp Popup-->
<div class="signup_wrapper">
    <div class="signup_inner">
        <div class="signup_details">
            <div class="site_logo">
                <a href="index.html"> <img src="{% static 'images/logo_white.png' %}" alt="image"></a>
            </div>
            <h3>به cultivation خوش آمدید!</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه</p>
            <a href="javascript:;" class="clv_btn white_btn pop_signin">ورود</a>
            <ul>
                <li><a href="javascript:;"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-youtube-play"
                                                    aria-hidden="true"></i></span></a></li>
            </ul>
        </div>
        <div class="signup_form_section">
            <h4>ساخت حساب</h4>
            <img src="{% static 'images/clv_underline.png' %}" alt="image">
            <div class="form_block">
                <input type="text" class="form_field" placeholder="نام">
            </div>
            <div class="form_block">
                <input type="text" class="form_field" placeholder="ایمیل">
            </div>
            <div class="form_block">
                <input type="text" class="form_field" placeholder="رمز عبور">
            </div>
            <a href="javascript:;" class="clv_btn">عضویت</a>
            <div class="social_button_section">
                <a href="javascript:;" class="fb_btn">
                    <span><img src="{% static 'images/fb.png' %}" alt="image"></span>
                    <span>facebook</span>
                </a>
                <a href="javascript:;" class="google_btn">
                    <span><img src="{% static 'images/google.png' %}" alt="image"></span>
                    <span>google+</span>
                </a>
            </div>
            <span class="success_close">
						<?xml version="1.0" encoding="iso-8859-1"?>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px" y="0px" viewBox="0 0 212.982 212.982"
                     style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" width="11px"
                     height="11px">
							<g>
								<path fill="#fec007" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                        c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                        l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                        c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
							</g>
						</svg>
					</span>
        </div>
    </div>
</div>
<!--SignIn Popup-->
<div class="signin_wrapper">
    <div class="signup_inner">
        <div class="signup_details">
            <div class="site_logo">
                <a href="index.html"> <img src="{% static 'images/logo_white.png' %}" alt="image"></a>
            </div>
            <h3>به cultivation خوش آمدید!</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه</p>
            <a href="javascript:;" class="clv_btn white_btn pop_signup">عضویت</a>
            <ul>
                <li><a href="javascript:;"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-youtube-play"
                                                    aria-hidden="true"></i></span></a></li>
            </ul>
        </div>
        <div class="signup_form_section">
            <h4>ورود به حساب</h4>
            <img src="{% static 'images/clv_underline.png' %}" alt="image">
            <div class="form_block">
                <input type="text" class="form_field" placeholder="ایمیل">
            </div>
            <div class="form_block">
                <input type="text" class="form_field" placeholder="رمز عبور">
            </div>
            <a href="javascript:;" class="clv_btn">عضویت</a>
            <div class="social_button_section">
                <a href="javascript:;" class="fb_btn">
                    <span><img src="{% static 'images/fb.png' %}" alt="image"></span>
                    <span>facebook</span>
                </a>
                <a href="javascript:;" class="google_btn">
                    <span><img src="{% static 'images/google.png' %}" alt="image"></span>
                    <span>google+</span>
                </a>
            </div>
            <span class="success_close">
						<?xml version="1.0" encoding="iso-8859-1"?>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px" y="0px" viewBox="0 0 212.982 212.982"
                     style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" width="11px"
                     height="11px">
							<g>
								<path fill="#fec007" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                        c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                        l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                        c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
							</g>
						</svg>
					</span>
        </div>
    </div>
</div>
<!--Profile Toggle-->
<div class="profile_toggle"><a href="javascript:;"><img src="{% static 'images/login.gif' %}" alt=""></a></div>