<div class="sidebar_post">
    <ul>
        {% for post in posts %}
            <li>
                <div class="post_image">
                    <img src="{{ post.image.url }}" height="65" width="70" alt="image">
                </div>
                <div class="post_content">
                    <p>{{ post.modified_date.date }}</p>
                    <a href="{% url 'blog_detail' pk=post.id title=post.title.split|join:'-' %}">
                        {{ post.title }}
                    </a>
                </div>
            </li>
        {% endfor %}

    </ul>
</div>